@media screen and (max-width: 576px) {
    body {
        padding: 1rem .5rem;
    }

    nav {
        display: flex;
        /* justify-content: space-between; */
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }

    nav ul {
        flex-direction: column;
        gap: 1rem;
        text-align: center;
    }

    .hero {
        gap: 1rem;
        margin-bottom: 1rem;
    }

    .hero .hero-text h1 {
        font-size: 3rem;
    } 
    .hero form {
        flex-direction: column;
        width: 90%;
    }
    .popular-section {
        flex-direction: column-reverse;
        gap: 1rem;
        width: 90%;
        margin-bottom: 1rem;
    }
    .popular-des {
        text-align: center;
    }
    .popular-des button {
        margin: 0 auto;
    }
    .popular-image {
        width: 90%;
    }
}