@media screen and (max-width: 576px) {
    body {
        padding: 1rem .5rem;
    }

    nav {
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        /* margin-bottom: 2rem; */
    }

    nav ul {
        flex-direction: column;
        gap: 1rem;
        text-align: center;
    }

    .hero {
        gap: 1rem;
        margin-bottom: 5rem;
    }

    .hero .hero-text h1 {
        font-size: 3rem;
    }

    .hero form {
        flex-direction: column;
        width: 90%;
    }

    .popular-section {
        flex-direction: column-reverse;
        gap: 1rem;
        /* width: 90%; */
        margin-bottom: 5rem;
    }

    .popular-des {
        text-align: center;
    }

    .popular-des button {
        margin: 0 auto;
    }

    .popular-image {
        width: 100%;
    }

    .popular-image img {
        width: 100%;
    }

    .destination-gallery> :nth-child(1),
    .destination-gallery> :nth-child(2),
    .destination-gallery> :nth-child(3),
    .destination-gallery> :nth-child(4),
    .destination-gallery> :nth-child(5),
    .destination-gallery> :nth-child(6),
    .destination-gallery> :nth-child(7) {
        grid-column: span 12;
    }

    .destination-section {
        margin-bottom: 5rem;
    }

    .choose-section {
        margin-bottom: 5rem;
    }

    .deals-section {
        margin-bottom: 5rem;
    }

    .deals-card {
        padding: 10rem 1rem 1rem 1rem;
    }

    .deals-card>div {
        padding: 2rem;
    }

    .deals-card {
        align-items: end;
    }

    .deals-card>div {
        padding: 1.5rem;
        gap: 1.5rem;
    }

    .deals-card-info {
        flex-wrap: wrap;
    }

    .deals-card>div>p {
        font-size: 1rem;
    }

    .video-seciton {
        /* flex-direction: wrap */
        flex-direction: column;
        gap: 2rem;
        margin-bottom: 5rem;
    }

    .video-des {
        max-width: 90%;
        /* text-align: center; */
    }

    .video-video {
        width: 100%;
        /* border-radius: 1rem; */
    }

    .video-video iframe {
        width: 100%;
        border-radius: 1rem;
    }

    .form-section {
        flex-direction: column-reverse;
        /* column-gap: 1rem; */
        gap: 1rem;
    }

    .form-form {
        max-width: 100%;
    }

    .footer-section {
        padding: 2rem;
        gap: 1.5rem;
    }

    .footer-logos a {
        font-size: 2rem;
    }
}