@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

.mulish-font {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
}

body {
    max-width: 1440px;
    border: 1px dotted;
    margin: 0 auto;
    /* padding: 3rem 9rem; */
    /* padding-inline-start: 4rem; */
    /* padding: 4rem; */
    padding: 2rem 5rem;
}
body * {
    margin: 0;
    padding: 0;
}


/* shared styles */

:root {
    --orange: #FF5400;
}

#orange-text {
    background-color: var(--orange);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.btn {
    background-color: var(--orange);
    border: none;
    border-radius: .5rem;
    color: white;
    font-weight: 700;
    padding: 1rem 1.5rem;
}




/* nav related styles */
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 3rem;
}
nav ul li a {
    text-decoration: none;
    color: black;
}
nav .left {
    display:flex;
    gap: 1rem;
    align-items: center;
}

/* hero styles */
.hero {
    min-height: 500px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    justify-content: center;
    align-items: center;
    text-align: center;

    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0)), url('./images/hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 1rem;
    margin-bottom: 6rem;
}
.hero .hero-text h1 {
    font-size: 4rem;
}
.hero form {
    display: flex;
    gap: 1rem;
}
.hero form button {
    align-self: center;
    display: flex;
    gap: .5rem;
    align-items: center;
}
.hero form input, select {
    padding: 1rem;
    border: none;
    border-radius: .5rem;
    outline: none;
}

/* popular tours styles */
.popular-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;
    margin-bottom: 6rem;
}
.popular-des {
    /* border: 1px dotted blue; */
    display: flex;
    flex-direction: column;
    gap: 2rem;
    /* padding-left: 2rem; */
}
.popular-des h1 {
    font-size: 2.5rem;
}
.popular-des ul {
    padding-left: 1rem;
}
.popular-des p, li {
    color: #5A5A5D ;
}
.popular-des button {
    align-self: flex-start;
}