@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

.mulish-font {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
}

body {
    max-width: 1440px;
    border: 1px dotted;
    margin: 0 auto;
    /* padding: 3rem 9rem; */
    /* padding-inline-start: 4rem; */
    /* padding: 4rem; */
    padding: 2rem 5rem;
}

body * {
    margin: 0;
    padding: 0;
}


/* shared styles */

:root {
    --orange: #FF5400;
}

#orange-text {
    background-color: var(--orange);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

#gray-text {
    color: #5A5A5D;
}

.btn {
    background-color: var(--orange);
    border: none;
    border-radius: .5rem;
    color: white;
    font-weight: 700;
    padding: 1rem 1.5rem;
}




/* nav related styles */
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 3rem;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

nav .left {
    display: flex;
    gap: 1rem;
    align-items: center;
}

/* hero styles */
.hero {
    min-height: 500px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    justify-content: center;
    align-items: center;
    text-align: center;

    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0)), url('./images/hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 1rem;
    margin-bottom: 6rem;
}

.hero .hero-text h1 {
    font-size: 4rem;
}

.hero form {
    display: flex;
    gap: 1rem;
}

.hero form button {
    align-self: center;
    display: flex;
    gap: .5rem;
    align-items: center;
}

.hero form input,
select {
    padding: 1rem;
    border: none;
    border-radius: .5rem;
    outline: none;
}

/* popular tours styles */
.popular-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;
    margin-bottom: 6rem;
}

.popular-des {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.popular-des h1 {
    font-size: 3rem;
}

.popular-des ul {
    padding-left: 1rem;
}

.popular-des button {
    align-self: flex-start;
}

/* destination section styles */
.destination-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    margin-bottom: 6rem;
}

.destination-des {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

.destination-des h1 {
    font-size: 3rem;
}

.destination-gallery {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 2rem;

}

.destination-gallery> :nth-child(1),
:nth-child(2) {
    grid-column: span 6;
}

.destination-gallery> :nth-child(3) {
    grid-column: span 4;
}

.destination-gallery> :nth-child(4) {
    grid-column: span 5;
}

.destination-gallery> :nth-child(5) {
    grid-column: span 3;
}

.destination-gallery> :nth-child(6) {
    grid-column: span 5;
}

.destination-gallery> :nth-child(7) {
    grid-column: span 7;
}

.destination-gallery div {
    position: relative;
}

.destination-gallery div h3 {
    /* positioning the h3 in the center of the div */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: white;
    font-size: 1.5rem;
}

.card img {
    /* making the image fit to the div */
    height: 100%;
    width: 100%;
}

/* why choose section styles */
.choose-section {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    margin-bottom: 6rem;
}

.choose-des {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    gap: 1rem;
}

.choose-des h1 {
    font-size: 3rem;
}

.choose-card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
}

.choose-card-container .choose-card {
    max-width: 550px;
    /* border: 1px solid; */
    border-radius: 1rem;

    padding: 1rem 2rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.choose-card i {
    font-size: 4rem;
}

.choose-card h3 {
    font-size: 1.5rem;
}

.choose-card-container> :nth-child(1) {
    background-color: rgba(251, 181, 99, 0.05);
    border: 1px solid rgba(251, 181, 99, 0.2);
}

.choose-card-container> :nth-child(2) {
    background-color: rgba(41, 206, 246, 0.05);
    border: 1px solid rgba(41, 206, 246, 0.2);
}

.choose-card-container> :nth-child(3) {
    background-color: rgba(233, 68, 68, 0.05);
    border: 1px solid rgba(233, 68, 68, 0.2);
}

/* deals section styles */
.deals-section {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    margin-bottom: 6rem;
}  
.deals-des {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
}

.deals-des h1 {
    font-size: 3rem;
}
.deals-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.deals-card {
    border-radius: 2rem;
    min-height: 500px;
    background-image: url('./images/odd.png');

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    padding: 5rem 3.5rem;
    display: flex;
    flex-direction: row-reverse;
}
.deals-card > div {
    background-color: rgba(255, 255, 255, 0.7);
    max-width: 500px;

    border-radius: 2rem;
    padding:  1rem 5rem;

    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
}
.deals-card-info {
    display: flex;
    justify-content: space-between;
}
.deals-card-info i {
    color: var(--orange);
}
.deals-card-info div {
    display: flex;
    align-items: center;
    gap: .5rem;
}
.deals-card > div > p {
    font-size: 1.5rem;
} 
.deals-card > div button {
    align-self: flex-start;
}

.deals-container > :nth-child(even) {
    background-image: url('./images/even.png');
    flex-direction: row;
}

.deals-button {
    text-align: center;
}

/* video section styles */
.video-seciton {
    display: flex;
    justify-content: space-between;
    gap: 10rem;
    align-items: center;
}
.video-des {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.video-des h1 {
    font-size: 3rem;
}
.video-des button {
    align-self: flex-start;
}